#### Table of Contents
  1. [Gathering the Data]
  2. [Data Preprocess]
  3. [Data Analysis]

##**Hollywood Movie Production Sales**
**Introduction**

This notebook will be looking at and analyzing sample data containing information on Hollywood productions. This sample data stretches from 2007 - 2012, and contains the following information.

**Fields in HollywoodsMostProfitableStories.csv**

  - Film name
  - Genre
  - Lead Studio
  - Audience Score %
  - Profitability
  - Rotten Tomato Score %
  - World Wide Gross Profit
  - Year

<a gathering-the-data="gathering-data"></a>
### Gathering the Data

In [ ]:
# Initialize libraries
import pandas as pd
import numpy as np
from scipy import st
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Reads the file and outputs a snippet of the data set
# Showing us what the fields of the file
file = pd.read_csv('/HollywoodsMostProfitableStories.csv')
file.head(15)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.308654,2008
1,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000,2009
2,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895,2011
3,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000,2009
4,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143,2007
5,Beginners,Comedy,Independent,80.0,4.471875,84.0,14.310000,2011
6,Dear John,Drama,Sony,66.0,4.598800,29.0,114.970000,2010
7,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652,2007
8,Fireproof,Drama,Independent,51.0,66.934000,40.0,33.467000,2008
9,Four Christmases,Comedy,Warner Bros.,52.0,2.022925,26.0,161.834000,2008
10,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47.0,2.044400,27.0,102.220000,2009
11,Gnomeo and Juliet,Animation,Disney,52.0,5.387972,56.0,193.967000,2011
12,Going the Distance,Comedy,Warner Bros.,56.0,1.314062,53.0,42.050000,2010
13,Good Luck Chuck,Comedy,Lionsgate,61.0,2.367685,3.0,59.192128,2007
14,He's Just Not That Into You,Comedy,Warner Bros.,60.0,7.153600,42.0,178.840000,2009

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               74 non-null     object
 1   Genre              74 non-null     object
 2   Lead Studio        73 non-null     object
 3   Audience  score %  73 non-null     float64
 4   Profitability      71 non-null     float64
 5   Rotten Tomatoes %  73 non-null     float64
 6   Worldwide Gross    74 non-null     float64
 7   Year               74 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 4.8+ KB

<a data-pre="data-pre"></a>
### Data Preprocess

## **Data Visualization**